<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658889853634-b5m3j8djri4fkac9ivik7hbatiqv92c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658889853634-b5m3j8djri4fkac9ivik7hbatiqv92c7</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1-upG_ZlFkElYQbyHVTzjoGyYnZWG80</string>
	<key>GCM_SENDER_ID</key>
	<string>658889853634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bootcamp</string>
	<key>PROJECT_ID</key>
	<string>bootcamp-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcamp-buddy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658889853634:ios:22f5536147a555cdcec95b</string>
</dict>
</plist>